* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker,
.player-container {
    height: 80%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-select {
    flex-direction: column;
}

.sound-picker {
    flex-direction: row;
}

.player-container {
    flex-direction: column;
    position: relative;
}

.player-container svg {
    position: absolute;
    height: 82%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.replay {
    position: absolute;
    bottom: -23%;
    left: 50%;
}

.time-display {
    position: absolute;
    bottom: -16%;
    color: #ffffff;
    font-size: 50px;
}


video {
    position: fixed;
    top: 0;
    left: 0;
    width: unset;
    height: 100%;
    z-index: -10;
}

@media (min-width: 1360px) {
    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: unset;
        z-index: -10;
    }
}

.time-select button,
.sound-picker button {
    color: #ffffff;
    width: 30%
    height: 10%;
    background: #33334d;
    padding: 1px 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.time-select button:hover {
    color: black;
    background: white;
}

.sound-picker button {
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 30px;
}

.sound-picker button:nth-child(1) {
    background: darkblue;
}

.sound-picker button:nth-child(2) {
    background: darkred;
}

.sound-picker button:nth-child(3) {
    background: darkslategrey;
}

.sound-picker button img {
    height: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .app {
        display: flex;
        flex-direction: row;
    }
    .time-select,
    .sound-picker,
    .player-container {
        height: 80%;
        flex: 1;
        flex-direction: column;
    }
    .time-select button {
        padding: 5px 20px;
        font-size: 20px;
    }
    .time-display {
        bottom: 10%;
    }
    .player-container svg {
        height: 50%;
    }
    .replay {
        bottom: 0;
    }
    .sound-picker button {
        height: 120px;
        width: 120px;
    }
}